*{
	padding: 0px;
	margin: 0px;

}
body{
   
   background:url(../img/bg.jpg);
   background-repeat: no-repeat;
   background-size: cover;


}
.container{

    width: 650px;
    margin: 5% auto;


}
.login-section{

        background-color:#00bcd473;
        padding:25px;

}
.login-section img{

          width: 150px;
          margin: 0 auto;
          display: block;


}
.login-section h2{
          
          text-align: center;
          color: #fff;
          font-size: 35px;
         


}
.font-control{
    
        margin-bottom: 24px;
         width: 87%;
         height: 20px;
         padding: 10px;
}


.login-btn{
      
          margin: 0 auto;
    display: block;
    padding: 10px;
    background: #4ac34e;
    color: currentcolor;
    text-transform: uppercase;
    border: none;
    transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
   -o-transition: 0.5s ease-in-out;
   -webkit-transition: 0.5s ease-in-out;

}
.login-btn:hover{
  cursor:pointer;
  box-shadow: 5px 3px 2px 2px #ffff;


}